<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592110491539-1qjlvq3kn375effqidt69rm28i8kg723.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592110491539-1qjlvq3kn375effqidt69rm28i8kg723</string>
	<key>API_KEY</key>
	<string>AIzaSyDgIksWb7KDk3qHSz6bacJ8sMH76uAPA-A</string>
	<key>GCM_SENDER_ID</key>
	<string>592110491539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eStore</string>
	<key>PROJECT_ID</key>
	<string>e-store-4ab54</string>
	<key>STORAGE_BUCKET</key>
	<string>e-store-4ab54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592110491539:ios:d62825d311e06585cdba66</string>
</dict>
</plist>